a:link {
	text-decoration : none;
}

a:visited {
	text-decoration : none;
}

a:hover {
	background-color : #000000;
}

a:active {
	text-decoration : none;
}

body {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
	scrollbar-3dlight-color : #111111;
	scrollbar-arrow-color : #BBBBCC;
	scrollbar-darkshadow-color : #000000;
	scrollbar-face-color : #000000;
	scrollbar-highlight-color : #7D7D7D;
	scrollbar-shadow-color : #789789;
	scrollbar-track-color : #000000;
}

form {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
}

input {
	background-color : #000000;
	border-bottom : #FFFFFF 1px outset;
	border-left : #FFFFFF 1px outset;
	border-right : #FFFFFF 1px outset;
	border-top : #FFFFFF 1px outset;
	color : #AAAAAA;
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
	text-decoration : none;
}

option {
	background-color : #000000;
	color : #AAAAAA;
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
}

p {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
}

select {
	background-color : #000000;
	color : #AAAAAA;
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
	text-decoration : none;
	width : 210px;
}

td {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
}

textarea {
	background-color : #000000;
	border-bottom : #FFFFFF 1px outset;
	border-left : #FFFFFF 1px outset;
	border-right : #FFFFFF 1px outset;
	border-top : #FFFFFF 1px outset;
	color : #AAAAAA;
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
}

tr {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 10px;
}

.title {
	color : #BBBBCC;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	line-height : 100%;
}
